
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FDF6E3;
  color: #333;
}
nav {
  background-color: #FFA500; /* Thanksgiving orange */
  padding: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}

header, main, footer {
  text-align: center;
  padding: 20px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

h1, h2{
  color: #D2691E; /* Warm brown */
}
a {
  color: #FFA500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
p {
  padding: 0px;
  color: #D2691E;
  font-weight: bold;
  font-size: 10px;
}
li.facts {
  color: #D2691E;
  font-size: 30px;
  padding: 35px;
  font-weight: bold;
}
li.facts:hover {
  color: red;
  text-decoration: underline;
}
li p {
  color: #D2691E;
  font-size: 15px;
}
li p:hover {
  color: red;
}
.history {
  font-size: 25px;
}
img.interactive-image:hover {
  height: 150px; 
  width: 300px; 
}
.decor {
  padding: 30px;
  height: 250px;
  width: 250px;
}
.decor:hover {
  height:275px;
  width: 275px;
}
.wall {
 height: 562.5px;
 width: 1000px;
}